#boton-copiar{
    display:none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

header{
    width: 100%;
    height: 70px;
    margin: 12px 0 10px 0;

}

header img{
    margin-left: 70px;
    padding: 8px;
}

body{
    background: #9bb9d2c0;
}

main{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between; 
}

.boton-encriptar:hover{
    background-color: #0058ac;
    color: black;
}

.boton-desencriptar:hover{
    background-color: #0058ac;
    color: #ffffff;
}

section{
    width: 100%;
    height: 98%;
    background: white;
    border-radius: 32px;
}

.seccion-texto{
    width: 64%;
    margin-left: 50px;
    box-shadow: 0 0 5px 1px black;

}

.alerta{
    height: 13px;
    color: #495057;
    opacity: 0.8;
    display: flex;
    font-size: 12px;
    position: relative;
    left: 100px;
    top: 30px;

}


.seccion-muneco{
    width: 25%;
    margin-right: 50px;
    box-shadow: 0 0 5px 1px black;
}

.contenedor-imagen{
    width: 100%;
    height: 50%;
    margin: 20px 10px 0 10px;
    text-align: center;
}

.contenedor-subtitulo{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 24px;
    color: #343A40;
    font-weight: bold;
}

.contenedor-parrafo{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 16px;
    margin: 0 10px 0 10px;
    color: #495057;
}

.contenedor-resultados{
    width: 205px;
    height: 450px;
    padding: 5px;
    box-sizing: border-box;
    color: #495057;
    font-size: 25px;
    font-family: "Inter";
    margin: 5px;

}


 .contenedor-copiar{
    text-align: center;
    margin-top: 10px;
    padding: 24px;
 }

.boton-copiar{
    position: absolute;
    right: 135px;
    top: 548px;
    width: 208px;
    height: 40px;
    color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    background-color: #d8dfe8;
    font-family: "inter";
    font-size: 20px;
    cursor: pointer;
}

.textarea, .textarea::placeholder{
    width: 95%;
    height: 60%;
    resize:none;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 32px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    color: #0a3871;
    font-family: inter;
    cursor: pointer;
}


.contenedor-botones{
    text-align: center;
    margin-top: 20px;
    padding: 24px;
}

.boton-encriptar {
    width: 30%;
    height: 40px;
    color: #ffffff;
    font-family: "inter";
    border-radius: 24px;
    background-color: #0a3871;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.boton-desencriptar{
    width: 30%;
    height: 40px;
    color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    background-color: #d8dfe8;
    font-family: "inter";
    font-size: 20px;
    cursor: pointer;
}

.ocultar{
    display: none;
}

